<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myController">
            <h1>Example application using ng-app and ng-controller</h1>
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{firstName}} {{lastName}}
        </div>

        <script>
            var app = angular.module("myApp", []);
            //has to be $scope
            app.controller("myController", function($scope) {
                $scope.firstName = "Brian";
                $scope.lastName = "Lee";
            });
        </script>

    </body>

</html>
